@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.navbar-items {
  text-decoration: none;
}

.button-underline{
  text-decoration: none !important;
}

/* Only works in development mode */
nextjs-portal {
  display: none !important;
}

/* Fixes the 'frozen' scrollbar that often happens when an error triggers */
body {
  overflow: auto !important;
}

.checkout-btn{
  left: 1400px;
  bottom: 75px;
  position: fixed;
}

.page-item.active .page-link {
  background-color: #0d6efd !important;
  border-color: #0d6efd !important;
  color: #fff !important;
}

.page-link {
  cursor: pointer;
}